---
layout: base
---

<header class="page-header" role="banner">
  <h1 class="project-title">Hello!</h1>
  <h2 class="project-tagline">
    I'm Ben and I like to build things and occasionally break them
  </h2>
  <a href="/" class="btn">Home</a>
  <a href="/projects" class="btn">Projects</a>
  <a href="https://blog.blambo.me" class="btn">Blog</a>
</header>
<main id="content" class="main-content" role="main">{{content}}</main>
<footer class="site-footer">
  <span class="site-footer-credits">&copy; to me</span>
</footer>
